asgiref==3.7.2
asyncssh==2.13.2
cffi==1.15.1
cryptography==41.0.3
distlib==0.3.7
Django==4.2.5
django-cors-headers==4.2.0
filelock==3.12.4
platformdirs==3.10.0
pproxy==2.7.8
pycparser==2.21
sqlparse==0.4.4
sshuttle==1.1.1
typing_extensions==4.7.1
tzdata==2023.3
virtualenv==20.24.5
